*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding-top: 25px;
  padding-bottom: 115px;
}
/* nav_menu css*/
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 40px;
}

.logo {
  font-size: 30px;
  line-height: 40px;
  font-family: Montserrat, "Roboto", sans-serif;
  font-weight: bold;
  color: #95e1d3;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: #1abc9c;
  font-weight: 900;
}

.nav_list {
  width: 490px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav_item {
  position: relative;
}

.nav_item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: Montserrat, "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #95e1d3;
  transition: 0.3s ease-in-out;
}

.nav_item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #f38181;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.nav_item:hover::after {
  opacity: 1;
}

.nav_item:hover a {
  color: #f38181;
}

.section_header_up {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 700;
  color: #333333;
  padding-bottom: 13px;
}

.section_header_down {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  font-family: Montserrat, "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 90px;
}

.section_header_down {
  position: relative;
}

.section_header_down::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #f38181;
}

.article_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article_content {
  position: relative;
  width: 300px;
  height: 170px;
  padding-left: 83px;
}

.article_icon {
  position: absolute;
  top: 0;
  left: 40px;
  transform: translateX(-50%);
}

.services_article_header {
  color: #999999;
  font-family: Montserrat, "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 20px;
}

.services_article_text,
.services_article_text_team {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.services_article_text_team {
  text-align: center;
  padding-bottom: 80px;
}

/* team_galery */
.team_galery_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team_img_wrapper {
  position: relative;
  width: 380px;
  height: 470px;
  object-fit: cover;
  transition: transform 0.2s linear;
}

.team_img_wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgb(243, 129, 129) 0%,
    rgb(252, 227, 138) 100%
  );
  opacity: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
}

.team_img_wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #95e1d3;
  z-index: -1;
  transform: translateX(0px) translateY(0px);
  transition: transform 0.2s linear;
}
.icon_wrapper {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.icon {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.team_img_wrapper:hover {
  transform: translateX(-10px) translateY(-10px);
}

.icon:hover {
  background-color: #95e1d3;
}

.team_img_wrapper:hover .icon_wrapper {
  opacity: 1;
}

.team_img_wrapper:hover::after {
  opacity: 0.8;
}

.team_img_wrapper:hover::before {
  transform: translateX(10px) translateY(10px);
}

.team_name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
}

.team_specialty {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 80px;
}

.footer {
  width: 1200px;
  margin: 0 auto;
}

.shape {
  background-color: rgb(229, 229, 229);
  position: absolute;
  width: 1200px;
  height: 1px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

input[type="email"] {
  height: 40px;
  width: 230px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 25px;
  font-size: 15px;
  padding-left: 13px;
  border: 0;
  border: 1px solid #e7e7e7;
}

::-webkit-input-placeholder {
  color: #cccccc;
}
::-moz-placeholder {
  color: #cccccc;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #cccccc;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #cccccc;
}

.form {
  border: 1px solid #e7e7e7;
}

input[type="submit"] {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  height: 42px;
  width: 150px;
  background-color: #95e1d3;
  margin-left: -5px;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f38181;
}

.footer_text {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  line-height: 16px;
}

.text_end {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.text_end:hover {
  color: #f74343;
}
