    @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        src: local('Playfair Display') 
        url('../fonts/PlayfairDisplay-Bold.ttf') format ('ttf');
    }
