body {
  font-family: "Open Sans", Roboto, Ubuntu, Arial, serif;
  color: #555252;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.products_news {
  width: 1110px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.menu {
  padding-top: 38px;
  padding-bottom: 112px;
}
.logo {
  float: left;
}

.menu-navigation {
  float: right;
  margin-top: 4px;
}
.menu-navigation li {
  float: left;
  text-transform: uppercase;
  list-style: none;
  padding-left: 38px;
}

a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
  color: black;
}

a:hover {
  color: #1abc9c;
}

h2 {
  font-family: Roboto;
  font-size: 48px;
  color: #515151;
  line-height: 52px;
  text-transform: uppercase;
  text-align: center;
}

.product_title_name {
  padding-bottom: 100px;
}

.latest_news_name {
  padding-bottom: 90px;
  padding-top: 100px;
}

h2::after {
  content: "";
  display: block;
  width: 165px;
  height: 7px;
  margin: auto;
  margin-top: 30px;
  background-color: #1abc9c;
}

.product_window {
  float: left;
  width: 255px;
  height: 322px;
  margin-right: 30px;
  margin-bottom: 40px;
  cursor: pointer;
}

.product_window:nth-child(4n) {
  margin-right: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.news {
  width: 350px;
  float: left;
  font-size: 0px;
}

.news:not(:last-child) {
  margin-right: 30px;
}

.name_price {
  position: relative;
  top: -40px;
  height: 40px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
  vertical-align: middle;
  background-color: #323232;
}

span {
  float: right;
  padding: 0px 18px;
  background-color: #8c8c8c;
}

.name_price p {
  padding-left: 13px;
}

.text-image {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 10px;
}

.text-image::after {
  content: "";
  display: block;
  width: 135px;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #1abc9c;
}

.text-news {
  font-size: 14px;
  line-height: 26px;
}

.button {
  width: 160px;
  height: 52px;
  margin-top: 16px;
  margin-bottom: 45px;
  border: 1px #4ec6ab;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  background-color: #4ec6ab;
  text-align: center;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.name_price {
  overflow: hidden;
}

.product_window:hover .name_price {
  background: rgb(26, 188, 156);
}

.product_window:hover .name_price span {
  background: rgb(127, 217, 199);
}

.text_down {
  color: white;
}
